body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px
}
.carousel-inner img {
	width: 100%;
	height: 100%
}
.sticky-top {
	top: 0;
	width: 100%;
	z-index: 1031
}
.btn {
	border-radius: 0
}
.btn-default {
	background: #d32d24;
	border-color: #d32d24;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
	font-weight: bold
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
	background: #8c1b19;
	border-color: #8c1b19;
	color: #fff
}
.btn-primary {
	background: #003f85;
	border-color: #003f85
}
.btn-outline-primary {
	border-color: #003f85;
	border-radius: 0;
	color: #003f85
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
	background: #003f85;
	border-color: #003f85
}
.btn-outline-white {
	border-color: #fff;
	border-radius: 0;
	color: #fff
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active {
	background: #fff;
	border-color: #fff;
	color: #000
}
.btn-rounded {
	border-radius: 25px;
	padding: 10px 25px
}
.btn-outline-rounded {
	border: 1px solid #fff;
	border-radius: 25px;
	color: #fff
}
.btn-outline-rounded:hover {
	background: #173e80;
	border: 1px solid #173e80;
	border-radius: 25px;
	color: #fff
}
.btn-brochure {
	position: absolute;
	top: 0;
	left: 0
}
.navbar {
	background: #173e81 !important;
	justify-content: flex-start;
	padding: 0;
	z-index: 9999
}
#navbar {
	position: fixed;
	top: 50px;
	width: 100%;
	transition: top 0.3s;
	z-index: 9999
}
.navbar .navbar-toggler {
	border: none;
	line-height: 0;
	padding-left: 0;
	width: 23px;
	height: 20px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer
}
.navbar .navbar-toggler:focus {
	outline: none
}
.navbar .navbar-toggler span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}
.navbar .navbar-toggler span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center
}
.navbar .navbar-toggler span:nth-child(2) {
	width: 100%;
	top: 8px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center
}
.navbar .navbar-toggler span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center
}
.navbar .navbar-toggler.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0;
	left: 0
}
.navbar .navbar-toggler.open span:nth-child(2) {
	width: 0%;
	opacity: 0
}
.navbar .navbar-toggler.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 16px;
	left: 0
}
.navbar .navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	z-index: 1032;
	position: relative
}
.navbar-dropdown {
	background: #002331;
	display: none;
	height: calc(100% - 50px) !important;
	overflow: auto;
	padding: 15px;
	position: fixed;
	width: 100%;
	z-index: 1032
}
.navbar-dropdown .navbar-search {}.navbar-dropdown .navbar-search input {
	background: transparent url(../images/icons/search.png) no-repeat left center;
	background-size: 20px;
	border: none;
	color: #a6c6d7;
	padding: 10px 10px 10px 30px;
	width: 100%;
	font-size: 16px
}
.navbar-dropdown .navbar-search input::-webkit-input-placeholder {
	color: #a6c6d7
}
.navbar-dropdown .navbar-search input::-moz-placeholder {
	color: #a6c6d7
}
.navbar-dropdown .navbar-search input:-ms-input-placeholder {
	color: #a6c6d7
}
.navbar-dropdown .navbar-search input:-moz-placeholder {
	color: #a6c6d7
}
.navbar-dropdown .navbar-search input:focus {
	outline: none
}
.navbar-dropdown .navbar-nav {
	border-top: 1px solid #003145;
	padding: 15px 0
}
.navbar-dropdown .navbar-nav .nav-head {
	color: #a6c6d7;
	font-size: 16px
}
.navbar-dropdown .navbar-nav .nav-link {
	color: #fff;
	font-size: 18px
}
.navbar-dropdown .navbar-nav .nav-link img {
	max-width: 24px;
	margin-right: 10px
}
ul.navbar-nav {
	list-style: none;
	display: flex;
	flex-direction: row
}
ul.navbar-nav li {}ul.navbar-nav li a {
	border-left: 1px solid #335a6a;
	color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 20px
}
.nav-product a {
	border-left: 1px solid #3c6096;
	color: #fff;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0 20px;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}
.nav-product a:hover,
.nav-product a:focus,
.nav-product a:active {
	background: #3c6096;
	color: #fff;
	text-decoration: none;
	margin: 0;
	padding: 0 20px
}
.navbar-menu {
	background: #0d306b;
	color: #fff;
	display: none;
	position: fixed;
	padding: 50px 0;
	top: 50px;
	height: 50%;
	width: 100%;
	z-index: 1035;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out
}
.navbar-menu .nav-head {
	color: #a6c6d7;
	font-size: 18px;
	font-weight: 300
}
.navbar-menu ul {
	list-style: none;
	padding-left: 0
}
.navbar-menu a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 300;
	line-height: 26px
}
.navbar-menu a img {
	margin-right: 10px;
	width: 24px
}
.navbar-menu .social-media span {
	margin-right: 5px
}
.navbar-menu .social-media a {
	display: inline-block
}
.navbar-menu .social-media a img {
	margin-right: 0
}
.navbar-menu .language a {
	display: inline-block;
	margin-right: 20px
}
.navbar-menu hr {
	border-color: #a6c6d7
}
.section-nav {
	display: flex
}
.section-nav .container {
	display: flex
}
.section-nav a {
	color: #fff;
	display: block;
	flex: 1;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding-right: 5px
}
.section-spec {
	padding: 5px 0
}
.section-spec .accordion {
	border-bottom: 1px solid #c2c2c2;
	margin-bottom: 0px
}
.section-spec .accordion a:hover {
	text-decoration: none
}
.section-spec .accordion .accordion-heading::after {
	font-size: 28px;
	content: "\203a";
	display: block;
	position: absolute;
	right: 5px;
	top: 0px;
	transition: all .4s ease
}
.section-spec .accordion .accordion-heading.collapsed::after {
	transform: rotate(90deg)
}
.section-features {
	padding: 15px 0
}
.section-features .feature-nav {
	display: flex;
	align-items: center;
	justify-content: space-between
}
.section-features .feature-nav .nav {
	border-bottom: none
}
.section-features .feature-nav a {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	color: #003168;
	padding: 8px
}
.section-features .feature-nav a.active {
	border-bottom: 5px solid #d40008;
	border-radius: 0;
	color: #d40008;
	position: relative
}
.section-features h3 {
	color: #003168;
	font-size: 25px
}
.section-features .feature-content {
	border-top: 5px solid #ccc;
	margin-top: -5px
}
.section-colors .color-options {
	margin: 5px 0
}
.section-colors .color-options a {
	box-sizing: border-box;
	display: inline-block;
	margin: 5px 5px 0 0;
	height: 52px;
	width: 52px;
	position: relative;
	border-radius: 50%;
	border: 1px solid #fff;
	box-shadow: 2px 4px #ccc
}
.section-colors .color-options a img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	position: absolute
}
.section-features .feature-content img {
	max-width: 100%
}
.section-colors {
	padding: 15px 0;
	border-bottom: 1px solid #ddd
}
.section-colors h3 {
	color: #005173;
	font-size: 40px;
	font-weight: 200
}
.section-colors h4 {
	color: #005173;
	font-size: 25px;
	font-weight: bold
}
.section-colors .color-preview img {
	display: none;
	width: 100%;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out
}
.section-colors .color-preview img.active {
	display: block
}
.table-pricelist {
	background: #eee;
	margin: 0 auto;
	max-width: 600px;
	text-align: left
}
.table-pricelist thead tr {
	background: #222;
	color: #fff
}
.table-pricelist tbody tr:nth-of-type(odd) {
	background: #fff
}
.accordion {
	border-bottom: 1px solid #c2c2c2;
	margin-bottom: 20px
}
.accordion .accordion-heading {
	border-top: 1px solid #c2c2c2;
	color: #222;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 10px;
	position: relative;
	text-align: left;
	text-decoration: none
}
.accordion .accordion-heading::after {
	content: "\203a";
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all .4s ease
}
.accordion .accordion-heading.collapsed::after {
	transform: rotate(90deg)
}
footer {
	background: #222;
	padding: 30px 0;
	position: relative;
	z-index: 999
}
footer p {
	color: #fff
}
footer .features {
	margin-top: -40px;
	margin-bottom: 30px
}
.footer-nav {}.footer-nav h3 {
	color: #fff;
	font-size: 14px;
	font-weight: bold
}
.footer-nav ul {
	list-style: none;
	padding: 0
}
.footer-nav ul li a {
	color: #fff;
	font-size: 14px
}
.footer-bottom {
	border-top: 1px solid #555;
	display: flex;
	color: #fff;
	justify-content: space-between;
	padding: 30px 0 0
}
.footer-bottom .language a {
	color: #fff
}
.scrollToTop {
	background: #173e81;
	color: #fff;
	padding: 0 10px 0 10px;
	border-radius: 5px;
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 99;
	font-size: 25px;
	cursor: pointer
}
.scrollToTop:hover {
	text-decoration: none
}
.filter__item--selected {
	color: #5c5edc;
	border-color: #5c5edc
}
.filter__item .icon {
	font-size: 1.55em;
	display: none
}
.container-fluid {
	padding: 0;
	margin: 0
}
.fade {
	opacity: 0;
	transition: opacity .5s linear
}
.web {
	display:
}
@media only screen and (max-width: 600px) {
	.filter__item .icon {
		display: inline-block
	}
	.action__text {
		display: none
	}
	.section-colors .color-options {
		margin: 0
	}
	.section-colors .color-options a {
		box-sizing: border-box;
		display: inline-block;
		margin: 2px 2px 0 0;
		height: 32px;
		width: 32px;
		position: relative;
		border-radius: 50%;
		border: 1px solid #fff;
		box-shadow: 2px 4px #eee
	}
	.section-colors .color-options a img {
		border-radius: 50%;
		height: 30px;
		width: 30px;
		position: absolute
	}
	.section-features .feature-content img {
		max-width: 100%
	}
	.section-features .feature-nav a {
		font-size: 11px
	}
	.section-colors h4 {
		color: #005173;
		font-size: 20px;
		font-weight: 600
	}
	.section-colors h3 {
		color: #005173;
		font-size: 15px;
		font-weight: 100
	}
	.table-pricelist th {
		border-color: #003168;
		color: #fff;
		font-size: 10px;
		font-weight: 100;
		padding: 10px 5px 10px 5px
	}
	.table-pricelist td {
		border-color: #ddd;
		color: #000;
		font-size: 10px;
		font-weight: 100;
		padding: 5px
	}
	.features {
		display: none
	}
	.section-spec .col-sm-6 {
		background: #222;
		color: #fff
	}
	.section-spec h3 {
		font-size: 20px;
		padding: 5px 0
	}
	.section-spec .accordion {
		border-bottom: 1px solid #c2c2c2;
		margin-bottom: 20px
	}
	.section-spec .accordion .accordion-heading {
		border-top: 1px solid #c2c2c2;
		color: #fff;
		display: block;
		font-size: 12px;
		font-weight: 300;
		padding: 8px;
		position: relative;
		text-align: left
	}
	.section-spec .accordion .accordion-heading::after {
		top: -7px
	}
	.col-sm-3 {
		width: 50%
	}
	.accordion .accordion-heading {
		border-top: 1px solid #c2c2c2;
		color: #222;
		display: block;
		font-size: 14px;
		font-weight: 500;
		padding: 10px;
		position: relative;
		text-align: left;
		text-decoration: none
	}
	.accordion .accordion-heading::after {
		content: "\203a";
		font-size: 25px;
		right: 10px;
		top: 3px
	}
	.pricelist,
	.dealer .nav-tabs .nav-item .nav-link {
		font-size: 12px
	}
	.table-striped {
		font-size: 10px;
		width: 100%
	}
	.navbar-menu {
		height: 100%
	}
	.web {
		display: none
	}
}
@media only screen and (min-width: 600px) {
	.section-spec h3 {
		font-size: 20px
	}
	.section-spec .accordion {
		margin: 0;
		border-bottom: 1px solid #c2c2c2;
		margin-bottom: 20px
	}
	.section-spec .accordion .accordion-heading {
		border-top: 1px solid #c2c2c2;
		display: block;
		font-size: 15px;
		font-weight: 400;
		padding: 8px;
		position: relative;
		text-align: left
	}
	.section-spec .accordion .accordion-heading::after {
		top: -7px
	}
}
